<a href="https://colab.research.google.com/github/cheonshil/python/blob/master/%EB%8B%A8%EC%9D%BC%EB%B3%80%EC%88%98_%EA%B9%80%EC%B2%9C%EC%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수
<pre>
* 변수란?
  값을 담는 그릇
  값의 저장 공간
  
* 사용이유:
  값은 사용하고 나면 휘발되기 때문.

# 단일 변수
하나의 값을 담고 있는 변수.

## 1.단일 변수 형식
<pre>
* 변수 이름 = 하나의 값

* 변수 이름으로 안되는 것들 : 

  - if, def, class, while, for, else 등의 예약어.

  - 숫자로 시작하는 것
  ex) 1a, 3name, ...

In [0]:
a=1
b=2
name=1
new_python='살려줘'

## 2.값으로 올 수 있는 것들
<pre>
1.숫자
2.문자열
3.논리값

### 2-1. 숫자
ex) 1, 100, -20, 2.2

종류 : 정수, 실수

특징 : 사칙연산 가능

#### 2-1-1.종류

##### 정수(Integer)
양의 정수, 0, 음의 정수

In [0]:
a=3
number=-22
mine=0

##### 실수(Floating-Point)
소수점이 포함된 값

In [0]:
a=3.7
b=-7.22
yours=-1.094

#### 2-1-2.사칙연산

In [0]:
a=5
b=2

##### 덧셈
 '+' 연산자

In [14]:
print(a+b)

7

##### 뺄셈
'-' 연산자

In [15]:
print(a-b)

3

##### 곱셈
'*' 연산자

In [16]:
print(a*b)

10

##### 나눗셈
'/' 연산자

In [17]:
print(a/b)

2.5

##### 나눗셈의 몫
'//' 연산자

In [18]:
print(a//b)

2

##### 나눗셈의 나머지
'%' 연산자

In [19]:
print(a%b)

1

##### 제곱

In [20]:
print(a**b)

25

### 2-2.문자열
ex) '철수', 'My name is John', '123'

In [21]:
print('철수', 'My name is John', 123)

철수 My name is John 123

#### 2-2-1.문자열 만드는 방법 4가지

##### 큰 따옴표로 감싸기

In [0]:
a = "철수"

##### 작은 따옴표로 감싸기

In [0]:
b= 'My father is a texi driver.'

##### 큰 따옴표 3개를 연속으로 감싸기

In [0]:
lines = """동해물과
백두산이
마르고 닳도록"""

In [28]:
print(lines)

동해물과
백두산이
마르고 닳도록

##### 작은 따옴표 3개를 연속으로 감싸기

In [0]:
lines2 = '''
치얼업 베이베 치얼업 베이베 좀더 힘을 내'''

In [34]:
print(lines2)

치얼업 베이베 치얼업 베이베 좀더 힘을 내

##### 인용문 쓰기

In [0]:
lines3 = "나는 생각했다. '그의 어머니는 교사일거야.'"

In [36]:
print(lines3)

나는 생각했다. '그의 어머니는 교사일거야.'

##### 대화문을 넣기

In [0]:
lines4 = '그들은 말했다. "BTS는 사랑입니다."'

In [38]:
print(lines4)

그들은 말했다. "BTS는 사랑입니다."

##### 참고사항
주석 처리 방법

1. 코드 앞에 # 사용

2. '''으로 감싸기

3. """으로 감싸기

In [0]:

#a=1
#print(a)

In [41]:
'''
a=1
print(a)

b=2
print(b)
'''

'\na=1\nprint(a)\n\nb=2\nprint(b)\n'

In [42]:
"""
a=1
print(a)

b=2
print(b)
"""

'\na=1\nprint(a)\n\nb=2\nprint(b)\n'

#### 2-2-2.문자열 연산
'+', '*' 가능

##### 문자열 더하기

In [0]:
a = 'This song'
b = ' saved my life.'

In [45]:
print(a+b)

This song saved my life.

In [0]:
a = '2019'
b = '1225'

In [47]:
print(a+b)

20191225

##### 문자열 곱하기

In [0]:
a='아버지가방에들어가신다'

In [50]:
print(a*2)

아버지가방에들어가신다아버지가방에들어가신다

##### 응용

In [54]:
print('-'*30)
print('절취선')
print('='*30)

------------------------------
절취선
==============================

#### 2-2-3.문자열 길이 구하기
len() 함수

In [57]:
a = '대한민국 사람은 밥심으로 삽니다.'
print(len(a))

18

#### 2-2-4.문자열 인덱스
인덱스 : 순번

파이썬에서의 인덱스(순번) : 0번부터 시작

마지막 인덱스(순번) : -1번과도 같음

* 형식 :

  변수명[인덱스]

In [0]:
a = '동해물과 백두산이'

In [61]:
print(a[0])

동

In [62]:
print(a[5])

백

In [63]:
print(a[6])

두

In [64]:
print(a[8])

이

In [65]:
print(a[-2])

산

In [0]:
# '동해물과'
a = '동해물과 백두산이'

In [71]:
print(a[0:4])
print(a[0],a[1],a[2],a[3],a[4])

동해물과
동 해 물 과

#### 2-2-5.문자열 슬라이스
<pre>
슬라이스 : 자르기

규칙 : 변수명[시작순번:원하는 순번+1]

In [73]:
print(a[0:4])

동해물과

In [74]:
# 다른 방법(0부터 할 경우 0 생략 가능)
print(a[:4])

동해물과

In [79]:
# '백두산이'
print(a[5:9])
print(a[5:])

백두산이
백두산이

In [77]:
# 다른 방법(끝까지 할 경우 끝 생략)
print(a[:])

동해물과 백두산이

#### 2-2-6.문자열 format() 함수

* format() 함수 사용 효과 : 

  변수를 넣은 문자열을 만들 수 있음.

In [80]:
a='겨울배'
print('{}가 참 맛있단다.'.format(a))

겨울배가 참 맛있단다.

In [83]:
a=2019
print('올해는 {}년 이야.'.format(a))

올해는 2019년 이야.

##### 변수 여러개를 사용

In [84]:
name='김천실'
age=2
print('내 이름은 {}이고, {}살이야'.format(name, age))

내 이름은 김천실이고, 2살이야

##### Q. a=1, b=3, c=a+b를 만들고 
##### 'a + b = 4 이다' 를 출력하세요.

In [93]:
a=1
b=3
c=a+b
print('a+b는 {}이다'.format(c))
print('{}+{}는 {}이다'.format(a,b,c))
print('{}+{}는 {}이다.'.format(b,a,c)) #지금은 순서대로 넣었지만 앞으로 어떤 변수를 쓸 지 모르기때문에 format을 이용하여 {}안 값을 계속 변경해 줄 수 있음, 포맷에서는 콤마아니라 온점 써줘야함

a+b는 4이다
1+3는 4이다
3+1는 4이다.

#### 2-2-7.문자열 관련 함수들

##### 문자 개수 세기(count() 함수)
* 사용법:

  변수명.count(세고자 하는 값)

In [100]:
a=''' 올해 양파 농사가 풍년이었습니다.
양파값이 많이 떨어졌습니다.
양파를 많이 사먹으면
양파 농가에 조금이나마 도움이 됩니다.
'''
print(a.count('양파')) #문자열에는 항상 따옴표 써줘야함
a.count('이')

4

6

##### 문자열 바꾸기(replace() 함수)
* 사용법 :

  변수명.replace(바꾸려는 값, 대체할 값)

In [105]:
a = '우리 개 이름은 뭉치야.'
print(a.replace('뭉치','망치'))
print(a) #변수의 값은 바뀌지 않는다. 출력 결과물에서만 1회 바뀐다.

우리 개 이름은 망치야.
우리 개 이름은 뭉치야.

In [107]:
print(a)
b=a.replace('뭉치','망치')
print(b) #1회성으로만 하지 않으려면 변수로 지정해줘서 갖고가야한다.

우리 개 이름은 뭉치야.
우리 개 이름은 망치야.

##### 문자열 나누기(split() 함수)
* 사용법:

  변수명.split()
  
  (괄호 안에는 ' '이 생략되어 있음. 콤마 구분이면 ','가 넣어져있음.)

In [0]:
a = 'My heart will go on'
a.split()
del(print)

In [122]:
# Q.콤마로 되어있는걸 나눈다면?
a = '철수, 영희, 만수'
print(a.split())

['철수,', '영희,', '만수']

### 2-3.bool 값
* 참, 거짓을 의미하는 값

* 종류 : True / False

* 자세한 것은 사용 상황에서 설명.

In [121]:
a=True
b=False
print(a)
print(b)

True
False