<a href="https://colab.research.google.com/github/cheonshil/python/blob/master/%EB%8B%A8%EC%9D%BC%EB%B3%80%EC%88%98%EC%98%88%EC%A0%9C_%EA%B9%80%EC%B2%9C%EC%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q001. number 라는 이름의 변수에 1을 넣으세요.

In [0]:
number=1

### Q002. 변수 a와 변수 b가 주어질 때, 그 합을 c에 넣으세요.
### 출력도 해보세요.

In [0]:
a=7
b=4
c=a+b

In [17]:
print(c)

11

### Q003. 3번 문제의 a를 b로 나눗셈 하여 d에 넣으세요.
### 출력까지 해보세요.

In [18]:
d=a/b
print(d)

1.75

### Q004. 3번의 a를 b로 나눗셈의 몫 연산한 것을 출력하세요.

In [19]:
print(a//b)

1

### Q005. 3번의 a를 b로 나눗셈의 나머지 연산 한 것을 출력하세요.

In [20]:
print(a%b)

3

### Q006. 3번의 a를 b제곱 한 결과를 출력하세요.

In [21]:
print(a**b)

2401

### Q007. 자신의 이름을 출력하세요.

In [22]:
print('김천실')

김천실

### Q008. 자신의 이름을 a라는 변수에 넣으세요.

In [0]:
a='김천실'

### Q009. 아래 문장을 문자열 처리해서 b 라는 변수에 넣으세요.

In [0]:
b='''화려한 도시를 그리며 찾아왔네.
그곳은 춥고도 험한 곳.'''

### Q010. 아래 예시처럼 출력될 수 있도록 문자열로 만들어 보세요.
<pre>
내 동생은 말했다. "걸그룹은 역시 AOA야."

In [25]:
print('내 동생은 말했다. "걸그룹은 역시 AOA야"')

내 동생은 말했다. "걸그룹은 역시 AOA야"

### Q011. 아래 문장을 전체 주석처리 해보세요.

In [44]:
"""
내 모습이 보이지 않아
앞길도 보이지 않아
나는 상처 많은 번데기
"""

'\n내 모습이 보이지 않아\n앞길도 보이지 않아\n나는 상처 많은 번데기\n'

### Q012. 아래 변수에 * 2를 해서 출력하세요.

In [27]:
a = '대한민국'
print(a*2)

대한민국대한민국

### Q013. 아래 예시와 같이 출력하세요. 횟수는 30으로 합니다.
<pre>
예시
----------------------

In [28]:
print('-'*30)

------------------------------

### Q014. 아래 변수의 길이를 구하세요.

In [30]:
a = '오늘은 든든한 곰국을 먹어야 겠다.'
print(len(a))

19

### Q015. 아래 변수에서 '장'만을 출력하세요.

In [31]:
a = '이에 표창장을 수여합니다.'
print(a[5])

장

### Q016. 아래 변수에서 '사랑은' 을 출력하세요.

In [46]:
b = '사랑은 가슴이 시킨다.'
print(b[:3])
print(b[0],b[1],b[2],b[3])

사랑은
사 랑 은

### Q017. 아래 변수를 이용하여 예시와 같은 문자열을 출력하세요.
<pre>
예시:
사람이 꽃보다 아름다워

In [37]:
a = '사람'
print('{}이 꽃보다 아름다워'.format(a))

사람이 꽃보다 아름다워

### Q018. 아래 변수들을 넣어서 예시와 같은 문자열을 출력하세요.
<pre>
예시:
올해는 2019년 이니까 내년은 2020년이네.

In [38]:
a = 2019
b = 2020
print('올해는 {}년 이니까 내년은 {}년이네'.format(a,b))

올해는 2019년 이니까 내년은 2020년이네

### Q019. 아래 변수에서 '장'의 갯수를 출력하세요.

In [40]:
a = '간장공장공장장은 강공장장이다.'
print(a.count('장'))

6

### Q020. 아래 변수에서 '병수'를 '민수'로 바꾸어 출력하세요.

In [41]:
a = '병수는 우리반 반장이야.'
print(a.replace('병수','민수'))

민수는 우리반 반장이야.

### Q021. 아래 변수를 공백 단위로 나누어 출력해 보세요.

In [43]:
a = 'I am your father'
print(a.split())

['I', 'am', 'your', 'father']