<a href="https://colab.research.google.com/github/cheonshil/python/blob/master/%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%EC%98%88%EC%A0%9C_%EA%B9%80%EC%B2%9C%EC%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Q001. dict1 이라는 이름으로 빈 딕셔너리를 만드세요.

In [0]:
dict1={}

### Q002. '철수':27, '민철':30, '남희':28의 key와 value들을 갖는 our_team 이라는 이름의 딕셔너리를 만드세요.

In [0]:
our_team={'철수':27, '민철':30, '남희':28}

### Q003. 2번에서 만든 our_team 딕셔너리의 key값들을 이용해서 value 값들을 각각 출력해보세요.

In [5]:
print(our_team['철수'],our_team['민철'],our_team['남희'])

27 30 28

### Q004. 아래 리스트를 이용해서 딕셔너리를 만들었습니다. key값들을 이용해서 value 값들을 출력해 봅시다.

In [14]:
a = ['kim', 'park', 'lee']
b = ['LA', 'Seoul', 'Pusan']
c = [24, 52, 33]

dic1 = {'name':a, 'loc':b, 'age':c}

print(dic1['name'],dic1['loc'],dic1['age'])

['kim', 'park', 'lee'] ['LA', 'Seoul', 'Pusan'] [24, 52, 33]

### Q005. 아래 딕셔너리의 key 값들만 모아서 출력해 봅시다.

In [15]:
a = {'name':'John', 'loc':'LA', 'age':33}
print(a.keys())

dict_keys(['name', 'loc', 'age'])

### Q006. 아래 딕셔너리의 key값들을 모아서 리스트로 만들어 봅시다.

In [16]:
a = {'name':'John', 'loc':'LA', 'age':33}
list=a.keys()
print(list)

dict_keys(['name', 'loc', 'age'])

### Q007. 아래 딕셔너리의 value 값들을 모아서 리스트로 만들어 봅시다.

In [21]:
a = {'name':'John', 'loc':'LA', 'age':33}
list=a.values()
print(list)

dict_values(['John', 'LA', 33])

### Q008. 아래 딕셔너리의 key, value 값의 쌍을 리스트로 만들어 봅시다.

In [22]:
a = {'name':'John', 'loc':'LA', 'age':33}
print(a.items())

dict_items([('name', 'John'), ('loc', 'LA'), ('age', 33)])

### Q009. 아래 딕셔너리의 key, value 값의 쌍을 지워봅시다.

In [23]:
a = {'name':'John', 'loc':'LA', 'age':33}
print(a.clear())

None

### Q010. 아래 딕셔너리에서 key값으로 'age'가 있는지 조사하시오.

In [24]:
a = {'name':'John', 'loc':'LA', 'sex':'male'}
print('age'in a)

False