<a href="https://colab.research.google.com/github/cheonshil/python/blob/master/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EA%B9%80%EC%B2%9C%EC%8B%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.리스트
여러개의 값을 담고 있는 변수.

## 2-1. 리스트 형식
<pre>
* 리스트 이름 = [값1, 값2, 값3,...]
  리스트 이름 = []
  

* 리스트 이름으로 안되는 것들 : 
  - if, def, class, while, for, else 등의 예약어.
  - 숫자로 시작하는 것
  ex) 1a, 3name, ...
  
  
* 리스트 특징
  1. 순서가 존재
  2. 값을 인덱스로 불러옴.
  3. 값 수정 가능.

In [0]:
a=[10, 20, 30]
name=('철수')

## 2-2. 리스트 인덱스
<pre>
* 형식 :
  리스트명[인덱스]


* 사용법 :
  첫 번째 값: [0]
  두 번째 값: [1]
  마지막 값 : [끝 인덱스] or [-1]

In [0]:
print(a[0])
print(a[1])
print(a[-1])

10
20
30

### 리스트 내부 리스트의 인덱스

In [0]:
z=[11,['a','b']]

In [0]:
print(z[0])
print(z[1])

11
['a', 'b']

In [0]:
a = [3, 7, ['수박', '참외',['사과', '딸기']]]

In [0]:
print(a[:])
print(a[2:3])

[3, 7, ['수박', '참외', ['사과', '딸기']]]
[['수박', '참외', ['사과', '딸기']]]

## 2-3.리스트 슬라이스
<pre>
사용법 :

리스트명[시작인덱스:원하는인덱스+1]

In [0]:
z=[1,2,3,4,5,6,7,8,9]

In [0]:
# 0번부터 1번 포함 슬라이스 하려면?
print(z[:2])

[1, 2]

In [0]:
# 시작인덱스가 0이라면 생략 가능
print(z[:2])

[1, 2]

In [0]:
# 2번부터 4번 포함 슬라이스 하려면?
print(z[1:4])

[2, 3, 4]

In [0]:
# 마지막 인덱스까지 하려한다면 생략가능
print(z[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### 슬라이스로 나타낸 리스트
<pre>
사용법 :
리스트명[:]

In [0]:
z=[1,2,3,4,5,6,7,8,9]

In [0]:
print(z[:])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
print(z[::]) # : 첫값 : 원하는거 +1 : 몇개씩 띄울거냐
print(z[::2])
print(z[::3])
print(z[::4])

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[1, 4, 7]
[1, 5, 9]

#### 슬라이스 증감폭 부여
<pre>
사용법:

리스트명[::]

리스트명[시작인덱스:원하는인덱스+1:증감폭]

In [0]:
z=[1,2,3,4,5,6,7,8,9]

In [0]:
# 증감폭 1 = 전체 다 가져오기
print(z[::1])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
# 같은 결과? 1생략되어 있음.
print(z[::])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [0]:
# 한 개씩 건너 띄기
print(z[::2])

[1, 3, 5, 7, 9]

In [0]:
# 짝수만 가져오려면?
print(z[1::2])

[2, 4, 6, 8]

In [0]:
# 2개씩 건너띄기
print(z[::3])

[1, 4, 7]

In [0]:
# 인덱스 1번부터 3번까지 한 개씩 건너띄기
print(z[:3:2])

[1, 3]

## 2-4.리스트 연산

### 리스트 더하기
'+' 연산자 사용

In [0]:
a= ['철수', '영희']
b= ['민수', '영수']

In [0]:
# 리스트 a와 리스트 b를 더해서 리스트 c 만들기
list_c=a+b
print(list_c)

['철수', '영희', '민수', '영수']

### 리스트 반복하기
'*' 연산자 사용

In [0]:
# 리스트 a의 값 3번 반복
print(a*3)

['철수', '영희', '철수', '영희', '철수', '영희']

### 리스트 길이 구하기(len() 함수)
<pre>
사용법:
len(리스트명)

In [0]:
# 리스트 a의 길이
print(len(a))

2

## 2-5.리스트 수정하기

### 리스트에 값 추가하기(append 함수)
<pre>
* 사용법:
  리스트명.append(값)
  
* 결과:
  값이 마지막 인덱스로 들어감.

In [0]:
a = ['철수', '영희', '민지']

In [0]:
# '남준' 추가
a.append('남준')

In [0]:
print(a)

['철수', '영희', '민지', '남준']

In [0]:
# 리스트를 넣는 경우
b= ['경수', '희철']
a.append(b)

In [0]:
print(a)

['철수', '영희', '민지', '남준', ['경수', '희철']]

### 리스트에 여러 값들만 추가(extend 함수)
<pre>
* 사용법
리스트명.extend(다른 리스트)

In [0]:
b = ['경수', '희철']
c = ['대희', '수민']

In [0]:
# 리스트 b에 리스트 c의 값들만 추가
b.extend(c)

In [0]:
print(b)

['경수', '희철', '대희', '수민']

### 원하는 인덱스(순번)에 값 넣기(insert 함수)
<pre>
사용법:
리스트명.insert(원하는 인덱스, 값)

In [0]:
z=[1, 2, 3, 4]

In [0]:
# 2번째 인덱스에 7넣기
z.insert(2, 7)

In [0]:
print(z)

[1, 2, 7, 3, 4]

### 리스트 값 제거(remove 함수)
<pre>
* 사용법:
  리스트명.remove(값)

* 결과:
  선행 인덱스의 값을 제거

In [0]:
q = [1,3,2,3]

In [0]:
# 3을 제거
q.remove(3)

In [0]:
print(q)

[1, 2, 3]

### 인덱스로 지우기
del 리스트명[인덱스]


리스트명.pop(인덱스)

### 리스트 값 바꾸기
<pre>
* 사용법:.
리스트명[인덱스] = 바꾸고자 하는 값

In [0]:
a=['철수', '영희', '남희']

In [0]:
# 0번 인덱스 값 '민수'로 바꾸기
a[0]='민수'

In [0]:
print(a)

['민수', '영희', '남희']

### 리스트 값의 인덱스(순번) 찾기(index 함수)
<pre>
* 사용법:
리스트명.index(값)

In [0]:
a=['철수', '영희', '남희']

In [0]:
# '영희'의 인덱스 찾기

print(a.index('영희'))

1

### 특정 값의 개수 세기(count 함수)
<pre>
* 사용법:
리스트명.count(값)

In [0]:
a=[1,3,3,7,3,4,5,3,5,3,3,9]

In [0]:
print(a.count(3))

6